@model IEnumerable<Pubsite_VentesB2B.Models.Resource>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}

<h2>Search Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().ContentDetail.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ContentDetail.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContentDetail.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentDetail.Description)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ResourcesID })
            </td>
        </tr>
    }

</table>
